<!DOCTYPE html>
<html lang="en" style="position: relative; min-height: 100%">
<head>
    <title>{{ header }} :: {{ title }}</title>
    {% include "styles.html" %}
</head>
<body>
<div class="jumbotron text-center" style="background-image: url({{ jumbotron_bg }}); background-position: center">
    <h1>{{ header }}</h1>
    <hr>
    <p style="color: white">Answer accepted. Thanks!</p>>
</div>
<div class="container" style="margin-bottom: 110px">
    Your answer is number {{ id }}.
</div>

{% include "footer.html" %}

</body>
</html>