<div style="text-align: center; padding-bottom: 40px; margin-top: 40px">
    <a href="/" class="btn btn-default" role="button">
        <span class="glyphicon glyphicon-home" style="margin-right: 1mm"></span>
        Home
    </a>
    <a href="stats" class="btn btn-default" role="button">
        <span class="glyphicon glyphicon-signal" style="margin-right: 1mm"></span>
        Statistics
    </a>

    <a href="search" class="btn btn-default" role="button">
        <span class="glyphicon glyphicon-search" style="margin-right: 1mm"></span>
        Browse answers
    </a>
</div>
