<div style="position: absolute; bottom: 0; min-width: 100%; padding-bottom: 20px">
    <div style="text-align: center;">
        <a href="/" class="btn btn-outline-dark" role="button">
            <i class="fa fa-home"></i>
            Home
        </a>
        <a href="stats" class="btn btn-outline-dark" role="button">
            <i class="fa fa-signal"></i>
            Statistics
        </a>

        <a href="search" class="btn btn-outline-dark" role="button">
            <i class="fa fa-search"></i>
            Browse answers
        </a>
        <div style="margin-top: 12px">
         (c) kateabr, 2019 | <a href="https://github.com/kateabr/hide_questionnaire">Source code on Github</a>
            </div>
    </div>
</div>