<!DOCTYPE html>
<html lang="en" style="position: relative; min-height: 100%">
<head>
    <title>{{ header }}</title>
    {% include "styles.html" %}
    <script type="text/javascript" src={{ url_for('static', filename='language_live_search.js') }}></script>
</head>
<body>
<div class="jumbotron text-center" style="background-image: url({{ jumbotron_bg }}); background-position: center">
    <h1>{{ header }}</h1>
    <hr>
    <p style="color: white">All sentences beneath miss a verb, perhaps from the syntactic field "hide/conceal".<br>
        What verbs would you use in your native language to complete the sentences?</p>
</div>

<div class="container">
    <form name="questionnaire" action="/accepted" method='POST' style="margin-bottom: 110px">
        <fieldset>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control dropdown-toggle" type="text" id="language" name="language"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           placeholder="Please select your language or add a new one" required>
                    <div class="input-group-btn">
                        <div id="clear" class="btn btn-danger">
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                    <div id="dropdown_menu" class="dropdown-menu" style="width: 100%" aria-labelledby="language">
                        <div id="menuItems">
                            {% for lang in languages %}
                                <input type="button" class="dropdown-item" aria-controls="language_menu" value="{{ lang }}">
                            {% endfor %}
                        </div>
                        <div id="empty" style="text-align: left" type="button"
                             class="btn button-default dropdown-header"></div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <select class="form-control" name="sex" style="height: 100%" required>
                    <option selected disabled>Please select your sex</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>


            {% for question in questions %}
                <div class="form-group">
                    <label for="q1">
                        Q{{ question[0] }}. {{ question[1] }}
                    </label>
                    <input type="text" class="form-control" name="q{{ question[0] }}" required>
                </div>
            {% endfor %}

            <div style="text-align: center; margin: 40px">
                <button type="submit" onClick="submitForm()" class="btn btn-default btn-lg">
                    <i class="fa fa-paper-plane" style="margin-right: 3mm"></i>Submit the answer
                </button>
            </div>
        </fieldset>
    </form>
</div>

{% include "footer.html" %}

</body>
<script type="text/javascript">
    language_live_search();

    function submitForm() {
        if (document.getElementById("language").readOnly === false) {
            document.getElementById("language").value = "";
        }
    }
</script>

</html>