<!DOCTYPE html>
<html lang="en" style="position: relative; min-height: 100%">
<head>
    <title>{{ header }} :: {{ header_title }}</title>
    {% include "styles.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='chart.js') }}></script>

    <style>
        @media screen and (orientation: landscape) {
            .canvas {
                max-height: 400px;
                height: 100vh;
                width: 100vh;
            }
        }

        @media screen and (orientation: portrait) {
            .canvas {
                max-width: 400px;
                height: 100vw;
                width: 100vw;
            }
        }
    </style>
</head>
<body>
<div class="jumbotron text-center" style="background-image: url({{ jumbotron_bg }}); background-position: center">
    <h1>{{ header }}</h1>
    <hr>
    <p style="color: white">Some basic statistics about the answers' distribution</p>
</div>

<div class="container" style="padding-bottom: 110px">
    Total number of answers submitted: {{ answers }}<br>
    Total number of languages collected: {{ lang_num }},
    among them: {{ ", ".join(languages) }}

    <div class="canvas" style="text-align: center; margin-top: 20px; margin-bottom: 20px; width: 100%">
        <canvas id="stats" style="height: 100%; width: 100%"></canvas>
    </div>
    <script type="text/javascript">
        renderChart({{ languages|safe }}, {{ lang_distr }}, {{ sexes|safe }}, {{ sex_distr }});
    </script>

</div>

{% include "footer.html" %}
</body>

</html>